### Chapter 3 Matplotlib Visualization
Exercise 1

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import ticker

In [2]:
src_file = Path.cwd() / 'data' / 'vehicles.csv'
image_dir = Path.cwd() / 'images'

In [3]:
df = pd.read_csv(src_file)

/tmp/ipykernel_50697/541733838.py:1: DtypeWarning: Columns (74,75,77) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(src_file)

In [4]:
df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,15.658421,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48671 entries, 0 to 48670
Data columns (total 84 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        48671 non-null  float64
 1   barrelsA08       48671 non-null  float64
 2   charge120        48671 non-null  float64
 3   charge240        48671 non-null  float64
 4   city08           48671 non-null  int64
 5   city08U          48671 non-null  float64
 6   cityA08          48671 non-null  int64
 7   cityA08U         48671 non-null  float64
 8   cityCD           48671 non-null  float64
 9   cityE            48671 non-null  float64
 10  cityUF           48671 non-null  float64
 11  co2              48671 non-null  int64
 12  co2A             48671 non-null  int64
 13  co2TailpipeAGpm  48671 non-null  float64
 14  co2TailpipeGpm   48671 non-null  float64
 15  comb08           48671 non-null  int64
 16  comb08U          48671 non-null  float64
 17  combA08          48671 non-null  int64
 18  combA08U         48671 non-null  float64
 19  combE            48671 non-null  float64
 20  combinedCD       48671 non-null  float64
 21  combinedUF       48671 non-null  float64
 22  cylinders        47522 non-null  float64
 23  displ            47524 non-null  float64
 24  drive            47485 non-null  object
 25  engId            48671 non-null  int64
 26  eng_dscr         30841 non-null  object
 27  feScore          48671 non-null  int64
 28  fuelCost08       48671 non-null  int64
 29  fuelCostA08      48671 non-null  int64
 30  fuelType         48671 non-null  object
 31  fuelType1        48671 non-null  object
 32  ghgScore         48671 non-null  int64
 33  ghgScoreA        48671 non-null  int64
 34  highway08        48671 non-null  int64
 35  highway08U       48671 non-null  float64
 36  highwayA08       48671 non-null  int64
 37  highwayA08U      48671 non-null  float64
 38  highwayCD        48671 non-null  float64
 39  highwayE         48671 non-null  float64
 40  highwayUF        48671 non-null  float64
 41  hlv              48671 non-null  int64
 42  hpv              48671 non-null  int64
 43  id               48671 non-null  int64
 44  lv2              48671 non-null  int64
 45  lv4              48671 non-null  int64
 46  make             48671 non-null  object
 47  model            48671 non-null  object
 48  mpgData          48671 non-null  object
 49  phevBlended      48671 non-null  bool
 50  pv2              48671 non-null  int64
 51  pv4              48671 non-null  int64
 52  range            48671 non-null  int64
 53  rangeCity        48671 non-null  float64
 54  rangeCityA       48671 non-null  float64
 55  rangeHwy         48671 non-null  float64
 56  rangeHwyA        48671 non-null  float64
 57  trany            48660 non-null  object
 58  UCity            48671 non-null  float64
 59  UCityA           48671 non-null  float64
 60  UHighway         48671 non-null  float64
 61  UHighwayA        48671 non-null  float64
 62  VClass           48671 non-null  object
 63  year             48671 non-null  int64
 64  youSaveSpend     48671 non-null  int64
 65  baseModel        48671 non-null  object
 66  guzzler          2801 non-null   object
 67  trans_dscr       15044 non-null  object
 68  tCharger         10935 non-null  object
 69  sCharger         1103 non-null   object
 70  atvType          5936 non-null   object
 71  fuelType2        1962 non-null   object
 72  rangeA           1957 non-null   object
 73  evMotor          3029 non-null   object
 74  mfrCode          17863 non-null  object
 75  c240Dscr         141 non-null    object
 76  charge240b       48671 non-null  float64
 77  c240bDscr        135 non-null    object
 78  createdOn        48671 non-null  object
 79  modifiedOn       48671 non-null  object
 80  startStop        16982 non-null  object
 81  phevCity         48671 non-null  int64
 82  phevHwy          48671 non-null  int64
 83  phevComb         48671 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(24)
memory usage: 30.9+ MB